.brand-logo{
   width: 60px;
   height: 60px;
    
    
  }

#hamburguer{
    width: 4rem;
    height:2rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }

  /* #navbar{
    background-color: white;
  } */
  
  #navbar2{
    background-color: rgb(14, 13, 13);
    
  }

  .burgerLogo{
    margin-top: 1.5rem;
  }