#waiters, #kitchen{
    
    max-width:50% ;
    margin: auto; 
    height:600px ;
   
}

#sections{
    background-color: rgb(241, 235, 235);
}


#waitersBtn, #kitchenBtn{
    border-radius: 5px;
    margin: 2rem;
    background-color: rgb(255, 174, 0) ;
    color: white;
    font-family: sans-serif;
    width: 6rem;
    height: 3rem;
}

#clientName{
    color: rgb(165, 41, 41);
}


