#waiters, #kitchen{
    
    max-width:50% ;
    margin: auto; 
    height: static ;
   
}

#waitersBtn, #kitchenBtn{
    border-radius: 5px;
    margin: 2rem;
    font-size: 30px;
    color: white;
    font-family: sans-serif;
    font-family: sans-serif;
}

#clientName{
    color:white;
    font-family: sans-serif;
}

#BtnsMenu{
position: relative;
} 

.textOrder{
    color: rgb(192, 58, 17);
    font-family: sans-serif;
}

 .table.table.table-dark{
    background-color:rgb(14, 13, 13);
    color: white;
    border: 1px solid white; 
    width: 500px;
    
}  

.iconGarbage{
    width: 25px;
    height: 25px;
    background-color:rgb(192, 58, 17);
    border-radius: 5px;
}

